<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style type="text/css">
      .about
      {
        background-color: blue;
        text-align: left;
        opacity:initial;
      }
      .about ul
      {
          display: inline-flex;
         list-style: none;
         color: honeydew;
     }
     .about ul li
     {
         width: 100px;
         margin: 5px;
         padding: 10px;
     }
     .content
     {
         margin: 20px;
         text-align: center;
         padding: 30px;
         
     }
    </style>
    </head>
    <body>
        <div class="about">
            <ul>
                <li><i class="fas fa-chevron-left"></i><p>Back</p></li>
                <li><i class="fas fa-home"></i><p>About Us</p></li>
            </ul>
        </div>
        <div class="content">
            <p><b><em>This employment office is an both public and private sector.
            The main aim of this sector is to provide a job.Any graduate person can apply here fo a job</em> </b><br><br>
        <b>CEO:</b>DHINAKARAN VS<br><br><b>FOUNDED:</b>JAN-2000<br><br><b>HEADQUARTERS:</b>CHENNAI<br><br><b>FOUNDERS:</b>NAVEEN,SAKTHI,KANNA</p>
        </div>
    </body>
</html>