*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.menu
{
    background-color: rgba(72,99,160,0.9);
    text-align: right;
}
.menu ul
{
    display: inline-flex;
    list-style: none;
    color: honeydew;
    padding:15px;
}
.menu ul li
{
    width: 120px;
    margin: 15px;
    cursor:pointer;
}
.menu ul li a
{
	display:block;
    text-decoration: none;
    color: honeydew;
}
.menu ul li i
{
	padding:10px;
	transition-duration:0.4s;
}
.menu ul li i:hover
{
    background: #123f34dd;
    border-radius: 5px;
    font-size: medium;
  	border-radius: 5px;
 	box-shadow:  0 0 5px #33ffff,
               0 0 10px #66ffff;
}

